.inner
  .followings_index
    - @user.followings.each do |following|
      .following_account
        = link_to account_path(following) do
          = image_tag following.icon_image
          %p= following.account_name
