<div class="inner">
  <ul>
    <% @profile.errors.full_messages.each do |message| %>
      <li class="error_message"><%= message %></li>
    <% end %>
  </ul>

  <%= form_with model: @profile, url: profile_path, method: 'put', local: true do |f| %>

    <div class="field">
      <label class="avatar">Icon</label>
      <%= f.file_field :avatar, class: 'image_input' %>
    </div>

    <div class="actions">
      <%= f.submit :Submit %>
    </div>

  <% end %>
</div>
