.inner
  .comment_header
    .comment_header_left
      = link_to post_path(params[:post_id]), class: 'comment_header_link' do
        %i.fas.fa-arrow-left
        %i.far.fa-clone
    %h1 Comment
  .comments_container
    - @comments.each do |comment|
      .comment
        .comment_user_image
          = image_tag comment.user.icon_image
        .comment_contents
          %p.comment_contents_name= comment.user.account_name
          %p.comment_contents_content= comment.content
