.inner
  %h2 New Comment
  - @comment.errors.full_messages.each do |message|
    %p.error_message= message
  = form_with model: @comment, url: post_comments_path(@comment.post), method: :post, local: true do |f|
    .field
      %label.content
        Content
      = f.text_field :content, class: 'comment_content', placeholder: 'What\'s on your mind?'
    .actions
      = f.submit :Post, class: 'post_btn'
