.inner
  = link_to 'Profile', profile_path, class: 'to_profile'
  .followers_index
    - @user.followers.each do |follower|
      .follower_account
        = link_to account_path(follower) do
          = image_tag follower.icon_image
          %p= follower.account_name
