
<div class="inner">

  <div class="timeline_header">
    <%= link_to new_post_path do %>
      <i class="fas fa-camera"></i>
    <% end %>
    <%= link_to profile_path do %>
      <i class="fas fa-arrow-right"></i>
    <% end %>
  </div>

</div>
