@import 'variables';

.inner {
    position: relative;

    .to_profile {
        position: relative;
        font-size: 16px;
        color: $blue;
        line-height: 24px;
    }

    .account_name {
        font-size: 16px;
        color: #333a42;
        text-align: center;
        line-height: 24px;
    }

    .to_timeline {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 20px;
        color: $base;

        &:hover {
            transition: all 0.3s;
            opacity: 0.6;
        }
    }

    .logout_btn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 16px;
        line-height: 24px;

        &:hover {
            transition: all 0.3s;
            opacity: 0.6;
        }
    }

    .profile_image {
        display: block;
        width: 77px;
        height: 77px;
        margin: 35px auto 46px;

        img {
            border-radius: 50%;
            box-shadow: 0 0 0 3px white, 0 0 0 6px rgb(255, 0, 140);
            transition: all 0.3s;

            &:hover {
                box-shadow: 0 0 0 3px white, 0 0 0 6px rgb(255, 0, 140), 0 5px 20px $base;
            }
        }
    }

    .account_image {
        position: relative;

        img {
            &:hover {
                box-shadow: 0 0 0 3px white, 0 0 0 6px rgb(255, 0, 140);
            }
        }

        .follow-btn, .unfollow-btn {
            display: block;
            position: absolute;
            top: 25px;
            left: calc(50% + 80px);
            background: $btn;
            color: $base;
            border: 1px solid $btn;
            border-radius: 10px;
            padding: 5px 10px 3px;
            transition: all 0.3s;

            &:hover {
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
                cursor: pointer;
            }

            &.hidden {
                display: none;
            }
        }
    }

    .profile_infos {
        display: flex;
        justify-content: center;

        .profile_info {
            position: relative;
            left: 10px;
            text-align: center;

            &.post {
                margin-right: 39px;
            }

            &.follower {
                margin-right: 31px;
            }

            span {
                font-size: 16px;
                color: #333a42;
                line-height: 24px;
            }

            h2 {
                font-size: 14px;
                font-weight: 500;
                color: $border;
                line-height: 21px;
            }
        }
    }

    .photos_sec {
        display: flex;
        flex-wrap: wrap;
        width: 343px;
        margin: 42px auto 0;

        a {
            display: block;
            width: calc(33.3333% - 20px / 3);
            height: 100px;
            margin: 0 10px 10px 0;

            &:nth-child(3n) {
                margin-right: 0;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
