@import 'variables';

.inner {
    .followings_index, .followers_index {
        width: 100%;
        height: auto;
        text-align: center;

        .following_account, .follower_account {
            display: block;
            border-bottom: 1px solid #eee;
            padding: 31px 0 30px;

            a {
                display: flex;
                align-items: center;
                position: relative;
    
                img {
                    position: absolute;
                    left: 40%;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 20px;
                }
        
                p {
                    position: absolute;
                    left: calc(40% + 60px);
                    font-family: 'Poppins';
                    font-size: 14px;
                    font-weight: bold;
                    color: $base;
                    line-height: 21px;
                }
            }
        }
    }
}
