.inner#account-show{data: {account_id: @user.id}}
  %h1.account_name= @user.account_name
  = link_to root_path, class: 'to_timeline' do
    %i.fas.fa-arrow-left
    %i.fas.fa-stream
  .profile_image.account_image
    = image_tag @user.icon_image, class: 'profile_icon'
    .follow-btn.hidden Follow
    .unfollow-btn.hidden Unfollow
  = render 'commons/profile'
